Repository Excoriate/nvim-personal-config, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, lua

.github/labeler.yml:

# .github/labeler.yml - Config for actions/labeler action
# Defines labels based on files modified in a PR

# Label for CI/CD changes
ci/cd:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*']

# Label for documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

# Label for lua code changes
lua:
  - changed-files:
      - any-glob-to-any-file: ['**/*.lua']

feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

ci:
 - head-branch: ['^ci', 'ci']

refactor:
 - head-branch: ['^refactor', 'refactor']

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci/cd

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci/cd

Add Claude Code GitHub Workflow (#1)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci/cd

Fix CI workflow: improve stylua setup and add proper Lua CI
  .github/workflows/ci.yml
Labels: ci/cd

Optimize CI workflow: use pre-built stylua binary for faster execution
  .github/workflows/ci.yml
Labels: ci/cd

Fix CI workflow: use official stylua-action for reliable formatting checks
  .github/workflows/ci.yml
Labels: ci/cd

Fix CI workflow: auto-format Lua files and commit changes
  .github/workflows/ci.yml
Labels: ci/cd

Add Makefile for consistent Lua formatting and update CI workflow
  .github/workflows/ci.yml
  Makefile
Labels: ci/cd

fix: ci for lua
  .github/workflows/ci.yml
  Makefile
  nvchad-config/lua/bootstrap.lua
  nvchad-config/lua/configs/lspconfig.lua
  nvchad-config/lua/gale/usercmds.lua
  nvchad-config/lua/plugins/init.lua
  nvchad-config/lua/plugins/spec/autopairs.lua
  nvchad-config/lua/plugins/spec/debug.lua
  nvchad-config/lua/plugins/spec/gitsigns.lua
  nvchad-config/lua/plugins/spec/indentline.lua
  nvchad-config/lua/plugins/spec/linter.lua
  nvchad-config/lua/plugins/spec/markview.lua
  nvchad-config/lua/plugins/spec/neogit.lua
  nvchad-config/lua/plugins/spec/oil.lua
  nvchad-config/lua/plugins/spec/oneliners.lua
  nvchad-config/lua/plugins/spec/telescope.lua
  nvchad-config/lua/plugins/spec/todocomments.lua
  nvchad-config/lua/plugins/spec/treesitter.lua
  nvchad-config/test_lsp_files/verify_lsp.lua
Labels: ci/cd, lua

docs: fix readme
  README.md
Labels: documentation

fix: nvchad ported
  .vscode/settings.json
  docs/repomix-nvchad-config-analysis.md
  nvchad-config/init.lua
Labels: lua
